#Header{
	text-align: center;
	background-color: #7B8EA5;
	color: white;
	font-family: "DejaVu Sans";
	padding: 1px;
	margin: -8px;
	margin-top: -20px;
}
#mainHeaderTitle{
	font-size: 170%;
}
#mainHeaderButtons{
	margin: -3px;
}
.button{
	transition: .4s background-color;
	width: 20%;
	height: 75px;
	margin: -3px;
	border: none;
	background-color: #6f7f93;
	color: white;
	font-family:"DejaVu Sans";
	font-weight: bold;
	font-size: 200%;
}
.button:hover{
	background-color:  #607183;
	transition: .4s background-color;
}
