@font-face {
	font-family: 'Gilroy-L';
	src: url('Gilroy-Light.otf')  format('truetype');
}
@font-face {
	font-family: 'Gilroy-B';
	src: url('Gilroy-ExtraBold.otf')  format('truetype');
}
body{
	min-width:1150px;
	margin: 0px;
	margin-top: 20px;
	background-color:#dddddd; /*#dae6f2;*/
}

.box{
    width: 98%;
	color: white;
	padding: 10px;
	text-align: justify;
    border: 5px solid #415364;
}
.title{
	font-family: 'Gilroy-B';
	font-size: 35px;
	text-align: center;

	background-color: #415364;
	padding: 10px;
	margin: -10px;
	margin-bottom: 0px;
}
.list{
	font-family: 'Gilroy-L';
	font-size: 170%;
}
.button1{
	transition: .4s background-color;

    cursor: pointer;

	font-family: 'Gilroy-L';
	font-size: 25px;

	background-color:#aaaaaa; /*#415364;*/
	color: white;

	border: none;
	width: 300px;
	padding: 15px;
	margin-top: 25px;
}
.button1:hover{
	background-color:#bbbbbb; /*#475F76;*/
	transition: .4s background-color;
}
.link, .link:visited{
	color: blue;
}
p{
	font-family: 'Gilroy-L';
	font-size: 170%;
	line-height: 40px;

	padding: 15px;
	margin: -8px;
}
#content{
    background-color:#dae6f2;
    color:black;
    font-family:"DejaVu Sans";
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom:-8px;
}
.question{
    font-size:150%;
    font-weight:bold;
    text-align:justify;
    margin-left:50px;
    margin-right:50px;

}
.answer{
    font-size:115%;
    text-align: justify;
    margin-left:100px;
    margin-right:100px;
    background-color: #;
}
.container {
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
    padding: 10px;
}
.image {
    padding-right: 20px;
            
}
img {
     max-width: 100%;
     height: 350px;
     float: right; 
     margin-top: 100px;
}
#i1{
	width: 396px;
  height: 300px;
  margin-top: 1px;
  margin-left: 35px;
}

#i2{
	width: 294px;
  height: 300px;
  margin-left: 35px;
  margin-top: 10px;

}
#i3{
	width: 396px;
  height: 300px;
  margin-left: 35px;
  margin-top: 120px;
  margin-right: -300px;
}

#i4{
  height: 300px;
  width: 498px;
  margin-bottom: 25px;
  margin-left: 35px;
}

#cookieConsent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.feur {
	margin-left: -50000000000000000px;
}

#popupContent {
  max-width: 600px;
  margin: 0 auto;
}

#buttons {
  margin-top: 20px;
}

#acceptButton {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#declineButton {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
