html
{
	font-family: 'DejaVu Sans';
}
#Qu'est-ce que c'est ?
{

}
img
{
	display: block;
	width: 300px;
}
li
{
	width: 800px;
	text-align: justify;
}
h2
{
	background-color: LightGrey;
	width: 800px;
}
h3
{
	background-color: LightSlateGray;	
}
